body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-image: url(gif.gif);
    background-size: 100%;
    background-position: center;
}
.heading{
    position: relative;
    font-size: xx-large;
    color: white;
    left: 160px;
    top: 250px;
}
.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    size: x-large;
    text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    float: right;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
  }
  .nav li{
    display: inline;
  }
  .nav a{
    display:inline-block;
    padding:10px;
    color: #f2f2f2;
    font-size: 24px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .nav a:hover{
    background-color: #44096b;
    color: rgb(255, 255, 255);
    border-radius: 15px;
  }
  
  .nav a.active{
    background-color: #44096b;
    color: white;
    border-radius: 10px;
  }
  .image{
      padding: 20px 40px;
      position: relative;
      right:-400px;
      border-radius: 50%;
  }
  .para{
    opacity: 0.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large; 
    position: relative;
    left: 160px;
    top: 250px;
}
.image1{
    padding: 20px 40px;
    position: relative;
    left:-300px;
    border-radius: 50%;
}
.text{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    position: relative;
    top: -450px;
    right: -200px;
}
.photo{
     position: relative;
     left: -400px;
     bottom: -80px;
}
.photo1{
    position: relative;
    left: -600px;
    bottom: -150px;
}
.photo2{
    position: relative;
    left: -600px;
    bottom: -200px;
}
.mail{
    position: relative;
    left: 270px;
    top: -240px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: larger;
}
.cell{
    position: relative;
    top: -90px;
    left: 270px;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
.place{
    position: relative;
    left: 270px;
    top: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
.picture{
    padding: 20px 40px;
    position: relative;
    right:-400px;
    border-radius: 50%;
    top: -350px;
}
.icons{
    position: relative;
    top: -350px;
    display: flex;
    margin-left: 50%;
    margin-left: 45%;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 150px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text11 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
